# ─────────────────────────────
# Backend (Node/Express)
# ─────────────────────────────
backend/node_modules/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/package-lock.json
backend/.env
backend/coverage/
backend/dist/
backend/build/